# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Databases & Data
# Note: Database files are now being pushed as requested by the user.

# OS files
.DS_Store
Thumbs.db

# Configs
config.py
instance/
.pytest_cache/

# Old Web Frontend Leftovers
templates/
static/

